# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Project Data and Artifacts
dataset/
runs/

# Model Weights
*.pt
*.pth
*.onnx

# System
.DS_Store
